<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${mentor.getId()}"/>
<p th:text="${mentor.getName()}"/>
<p th:text="${mentor.getPrice()}"/>

<form th:method="POST" th:action="@{/mentor/{id}(id=${mentor.getId()})}" th:object="${mentor}">

</form>
<br/>

<form th:method="POST" th:action="@{/mentor/{id}/delete(id=${mentor.getId()})}" th:object="${mentor}">
    <br/>
    <input type="submit" value="Delete">
</form>
<br/>

<form th:method="GET" th:action="@{/mentor}" >
    <br/>
    <input type="submit" value="Back">
</form>

<!--<a href="/mentor">Return</a>-->
</body>
</html>