<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="POST" th:action="@{/forAdmin/mentor}" th:object="${mentor}">
        <label for="family">Family: </label>
        <input type="text" th:field="*{family}" id="family">
        <span style="color: red" th:if="${#fields.hasErrors('family')}" th:errors="*{family}">Full name error</span>
        <br/>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name">
        <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full name error</span>
        <br/>
        <label for="price">Price: </label>
        <input type="number" th:field="*{price}" id="price">
        <br/>
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email">
        <br/>
        <label>Role: </label>
<!--        <input type="text" th:field="*{roles.id}" id="roles">-->
        <select th:field="*{roles.id}" id="role" name="role">
            <option value="1">Admin</option>
            <option value="2">Mentor</option>
            <option value="3">Student</option>
        </select>
        <br/>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password">
        <br/>
        <br/>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
    <br/>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a class="btn btn-primary" href="/forAdmin/mentor">Back</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>