<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="POST" th:action="@{/forAdmin/mentor}" th:object="${mentor}">
        <label for="family">Family: </label>
        <input type="text" th:field="*{family}" id="family">
        <span style="color: red" th:if="${#fields.hasErrors('family')}" th:errors="*{family}">Full name error</span>
        <br/>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name">
        <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full name error</span>
        <br/>
        <label for="price">Price: </label>
        <input type="number" th:field="*{price}" id="price">
        <br/>
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email">
        <br/>
        <label for="roles">Role: </label>
        <input type="text" th:field="*{roles.id}" id="roles">
        <br/>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password">
        <br/>
        <input type="submit" value="Create">
    </form>
    <form th:method="GET" th:action="@{/forAdmin/mentor}" >
        <br/>
        <input type="submit" value="Back">
    </form>
</body>
</html>